<!DOCTYPE html>
<html lang="en">
  <title>Ramen Recipe</title>
  <head>
     
  </head>
  <body>
     <h1>Homemade Ramen Recipe</h1>
    <div class="recipe">
    <h2>Ingredients</h2>
    <h3> For Chicken Dashi (Stock)</h3>
    <ul>
        <li>8 cups low-sodium chicken broth</li>
        <li>16 dried shiitake mushrooms</li>
        <li>30 g kombu (kelp), about a 10" square piece</li>
        <li>20 g dried bonito flakes (about 2 c. loosely packed)</li>
    </ul>
    <h3> For tare and chashu (marinade and pork)</h3>
    <ul>
        <li>1 1/4 cups low-sodium soy sauce</li>
        <li>1 1/4 cups mirin</li>
        <li>1/2 cup sake</li>
        <li>1 1/2 cups water</li>
        <li>1/4 cup granulated sugar</li>
        <li>2 Tbsp. packed brown sugar</li>
        <li>1 2" piece fresh ginger, sliced</li>
        <li>3 cloves garlic, peeled and smashed</li>
        <li>3 green onions, halved</li>
        <li>1 lb. pork belly, skin on, cut into 2"-wide strips</li>
    </ul>
    <h3> For nitamago (marinated eggs)</h3>
    <ul>
        <li>4 cold large eggs</li>
        <li>2 1/2 cups reserved chashu-tare liquid</li>  
    </ul>
    <h3>For garlic la-yu (chili oil)</h3>
    <ul>
        <li>8 cloves garlic, sliced</li>
        <li>1/2 cup canola oil</li>
        <li>1 Tbsp. ground chili or 1 1/2 tbsp. crushed red pepper flakes</li>
        <li>2 tsp. sesame seeds</li>
        </ul>
        <h3>For each serving</h3>
        <ul>
            <li>4 oz. fresh ramen noodles</li>
            <li>1 1/2 cups chicken dashi</li>
            <li>2 reserved shiitake mushrooms, sliced</li>
            <li>3 Tbsp. or more tare, to taste</li>
            <li>2 slices chashu</li>
            <li>1 nitamago, halved</li>
            <li>1 green onion, white and light green parts only, very thinly sliced</li>
            <li>2 tsp. la-yu</li>
        </ul>
    </div>
  </body>
</html>