h1 {
  background-color: rgb(160, 63, 3);
  color: aliceblue;
  font-family: monospace;
  font-size: 30px;
  padding: 10px;
}
h2 {
  color: rgb(160, 63, 3);
  font-family: monospace;
  font-size: 25px;
  padding: 10px;
}
h3 {
  color: rgb(160, 63, 3);
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
}
h4 {
  color: rgb(160, 63, 3);
  font-family: monospace;
  font-size: 18px;
  padding: 10px;
}
p {
  font-family: monospace;
  font-size: 17px;
  padding: 10px;
}
li {
  font-family: monospace;
  font-size: 17px;
}
